/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>GENERAL SECTION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
:root{
    --update-color:#8EDAFC;
    --basic-color:#f5f5f5;
    --icon-color: #B1B1B1;
    --bell-color:#F2FBFF;
    --sent-color:#D5F9BA;
    --hover-color:#E9EBEB;
}

*{
    border:0;
    margin: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top,
    #D7DBD6 85%,
    #009688 85%,
    #009688 100%);
    overflow: hidden;
}

img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 40px;
    height: 40px;
}

ul,
ol,
li,
menu{
    list-style-type: none;
}

a{
    color: currentColor;
    text-decoration: none;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>GENERAL SECTION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */








/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>LEFT SECTION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.user-section {
    border-right: 1px solid rgb(168, 165, 165);
}

.user-section, 
.selected-contact-section,
.input-section{
    height: 75px;
    background-color: var(--basic-color);
}

.update-section{
    background-color: var(--update-color);
    height: 83px;
}

.update-section .bell-icon{
    background-color: var(--bell-color);
    border-radius: 900px;
    height: 50px;
    width: 50px;
    color: var(--update-color);
}

.update__first__child{
    font-size: 14px;
    font-weight: bold;
}

.update__second__child{
    text-decoration: underline;
}

.general-chat-section{
    background-color: white;
    overflow-y: auto ;
    position: relative;
}

.search-chat-section {
    height: 51px;
    background-color: var(--basic-color);
}

.search-chat-section .input-group-text{
    background-color: white;
    color: gray;
}

.user-info:hover{
    background-color: var(--hover-color);
}

.user-info img{
    height: 54px;
    width: 54px;
    aspect-ratio: 1;
}

.user-option a{
    color: var(--icon-color) ;
    font-size: 16px;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>LEFT SECTION<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */










/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>RIGHT SECTION<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.contact-chat-section{
    background-image: url(../img/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
}

.my-container{
    max-width: 780px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* overflow-y: auto; */

    /* border: 1px solid black; */
}

.card{
    border-radius: 20px;
    overflow: hidden;
    /* padding: 10px 0; */
}

.card .card-header{
    padding: 13px 10px;
}

.time{
    font-size: 10px;
    color: gray;
}

.sent{
    background-color: var(--sent-color);
}

.chat-panel{
    position: relative;
}

.input-section{
    position: sticky;
}

.input-section .col{
    font-size: 22px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>RIGHT SECTION<<<<<<<<<<<<<<<<<<<<<<<<<<<< */












/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>DEBUG SECTION<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* .search-chat-section{
    border: 1px solid black;
} */